fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic[email]
python-dotenv
httpx
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0
python-multipart
python-dateutil
openpyxl
pandas
prophet
anthropic
openai
better-profanity
resend
torch
git+https://github.com/amazon-science/chronos-forecasting.git
